

<h1><a href="/" id="site-title">spacexlaunch.org</a></h1>
<div class="nav">
  <span class="nav-item"><a href="/about">About</a></span>
  <span class="nav-item"><a href="/addlaunch">Add Launch</a></span>
</div>
