<!DOCTYPE html>
<html>
  <head>
    <title>about!</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

  </head>
 <body>
    {{>navHeader}}
    <header>
      <h1 class="heading">About.</h1>
    </header>
    <main>
        <div class="about-us-content">
            <div class="about-info">
                <h2>Background</h2>

            </div>

            <div class="contact-us">
                <div class="contact-us-header">
                    <h2>Cont    act Us</h2>
                </div>
                <form action="/" id="contact-form" name="contact-form">
                    <label for="email-input">Email:</label>
                    <input type="text" name="email-input">
                    <br>
                    <label for="name-input">Name:</label>
                    <input type="text" name="name-input">
                    <br>
                    <label for="comment-input">Comment:</label>
                    <input type="text" name="comment-input">
                </form>
            </div>
        </div>
    </main>
  </body>
</html>