<!DOCTYPE html>
<html>
    <head>
        <title>spacexlaunch.org</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../stylesheets/materialize.min.css"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </head>
    <body>
        {{>navbar}}
        <div class="container">
            <header>
                <h1 class="heading">About.</h1>
            </header>
            
            <div class="about-info">
                <h2>Background</h2>
            </div>

            <div class="contact-us">
                <div class="contact-us-header">
                    <h2>Contact Us</h2>
                </div>
                <form action="/" id="contact-form" name="contact-form">
                    <label for="email-input">Email:</label>
                    <input type="text" name="email-input">
                    <br>
                    <label for="name-input">Name:</label>
                    <input type="text" name="name-input">
                    <br>
                    <label for="comment-input">Comment:</label>
                    <input type="text" name="comment-input">
                </form>
            </div> 
        </div>
    </body>
</html>