<!DOCTYPE html>
<html>
  <head>
    <title>Hello!</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

  </head>
 <body>
    {{>navHeader}}
    <header>
      <h1 class="heading">All launches.</h1>
    </header>
    <main>
      <section class="cards">
        {{#each datastuff}}
          <article>
            <p>{{name}}</p>
            <p><b>{{location.name}}</b>: {{location.city}}, {{location.state}}</p>
          </article>
        {{/each}}
      </section>
    </main>
  </body>
</html>
