<!DOCTYPE html>
<html>
  <head>
    <title>Hello!</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">

    <script src="/script.js" defer></script>
  </head>
 <body>
<h1>{{title}}</h1>
    <header>
      <h1 class="heading">Find out when the damn thing launches.</h1>
    </header>
    <main>
      <section class="cards">
        
        <article>
          <img class="article-img" src="http://placekitten.com/320/220" alt=" " />
          <h1 class="article-title">
            Launch 2
          </h1>
        </article>
        <article>
          <img class="article-img" src="http://placekitten.com/330/240" alt=" " />
          <h1 class="article-title">
            Launch 3
          </h1>
        </article>
        <article>
          <img class="article-img" src="http://placekitten.com/280/250" alt=" " />
          <h1 class="article-title">
            Launch 4
          </h1>
        </article>
        <article>
          <img class="article-img" src="http://placekitten.com/310/210" alt=" " />
          <h1 class="article-title">
            Launch 5
          </h1>
        </article>
        <article>
          <img class="article-img" src="http://placekitten.com/430/240" alt=" " />
          <h1 class="article-title">
            Launch 6 
          </h1>
        </article>
                <article>
          <img class="article-img" src="http://placekitten.com/430/240" alt=" " />
          <h1 class="article-title">
            Launch 7
          </h1>
        </article>
                <article>
          <img class="article-img" src="http://placekitten.com/430/240" alt=" " />
          <h1 class="article-title">
            Launch 8 
          </h1>
        </article>
                <article>
          <img class="article-img" src="http://placekitten.com/430/240" alt=" " />
          <h1 class="article-title">
            Launch 9 
          </h1>
        </article>
                <article>
          <img class="article-img" src="http://placekitten.com/430/240" alt=" " />
          <h1 class="article-title">
            Launch 10 
          </h1>
        </article>
                <article>
          <img class="article-img" src="http://placekitten.com/430/240" alt=" " />
          <h1 class="article-title">
            Launch 10
          </h1>
        </article>
      </section>
    </main>
  </body>
</html>
