.rocket-image {
    /* max-width:40%; */
    /* max-height: 10%; */
    /* height: 55%; */
    width: 2%;
    float: left;
    /* background: red; */
    margin-right: 50px;
    margin-top: 20px;
    /* border-right: 1px solid white; */
}