/* Flex styles -------------------------------------------------*/
header {
  display: flex;
  align-items: center;
}

@media (min-width: 700px) {
 .leading {
    display: flex;
    align-items: center;
  }
}





/* Theme Color Variables  ***************************************/

:root {
  --main-bg-color: coral;
  --main-txt-color: blue; 
  --main-padding: 15px; 
  
/* Grey scheme */
  --primary-color: #546e7a;
  --dark-color: #29434e;
  --light-color: #819ca9;
  --text-color: #ffffff;


  /* Orange scheme 
  --primary-color: #ff9800;
  --dark-color: #c66900;
  --light-color: #ffc947;
  --text-color: #000000;*/

  /* Blue scheme 
  --primary-color: #2979ff;
  --dark-color: #004ecb;
  --light-color: #75a7ff;
  --text-color: #000000;
  */
}



/* Lightbox styles **********************************************/
.lightbox {
  display: flex;
  align-items: center;
  display: none;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  top: 0;
  left: 0;
  background: black;
  background: rgba(0,0,0,0.8);
}

.lightbox .large-card {
  align-items: center;
  /* max-width: 90%; */
  /* max-height: 80%; */
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  background-color: var(--light-color);
  padding: 15px;
}

.lightbox:target {
  /** Show lightbox when it is target */
  display: block;

  /** Remove default browser outline style */
  outline: none;
}


/* Grid styles -------------------------------------------------*/
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 5px;
}

.card {
  border: black 1px solid;
  padding:10px;
  padding-left: 12%;
  height: 200px;
  background-position-x: 5%;
  background-color: var(--main-bg-color);
  /* background-color: #0b2d66; */
  /* color: white; */
  color: var(--text-color);
  background-color: var(--light-color);
}

.card:hover {
  border: 1px solid white;
}

.falcon_9 {
  background-image: url('../images/fal9.png');
  background-repeat: no-repeat;
}

.falcon_heavy {
  background-image: url('../images/falheavy.png');
  background-repeat: no-repeat;
}

/* Generic styles ----------------------------------------------*/
body {
  font-family: 'Quicksand', sans-serif;
  background-color: var(--primary-color);
  /*background-color: #0f3b82;*/
  /*background: linear-gradient(#0f3b82, #2657a5);*/
  /* background: linear-gradient(to bottom right, #1b4382, #14376d); */
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 25px;
}

header {
  padding: 10px;
  font-size: 2em;
  /* color: white; */
  /* background-color: #071b3d; */
  margin-bottom: 40px;
}

h1 {
  margin-bottom: 0px;
}

#site-title {
  text-decoration: none;
  color: white;
}

a {
  /* color:white; */
  /* color: black; */
  color: var(--text-color);
  text-decoration: none;
}

.nav {
  text-align: right;
  margin-bottom: 10px;
  
}

.nav-item {
margin-left: 20px;
margin-right: 20px;
/* color:white; */
color: var(--text-color);
}

.main-form {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  background-color: white;
  height: 500px;
}

.logo {
  height: 50px;
  margin-right: 20px;
}

.leading {
  height: 240px;
  margin-bottom: 30px;
  padding: 30px;
  /* color: white; */
  background: url('https://cdn.glitch.com/a5121e34-96b3-4a70-8227-040c51e64fae%2Fcat.jpg?1509635989509') center #333 no-repeat;
  background-size: cover;
  /* color: white; */
  text-shadow: 0px 0px 5px #000;
}

.leading-bigtext {
  margin-right: 60px;
  font-weight: bold;
  font-size: 24vw;
}

@media (min-width: 700px) {
  .leading-bigtext {
    font-size: 140px;
  }
}

.leading-text {
  max-width: 900px;
  font-size: 1.2em;
  line-height: 1.4em;
}

.cards {
  max-width: 1500px;
  margin: 0 auto 30px;
}

article {
  position: relative;
}

.article-img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.article-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  /* background-color: rgba(255, 255, 255, 0.2); */
}


 /* about us page -------------------------------------------------*/
 .about-us-content {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  /* background-color: #071b3d; */
  height: 500px;
  /* color:white; */
 }
